!!!
%html
  %body
    %p
      #{@user.name}様
    %p
      この度は、ご購入いただきありがとうございました。
      ご購入いただいた商品は、料金をお振込いただいた後での発送になります。
      以下の銀行口座に指定金額をお振込ください。
      %br
      振込口座：#{@user.account_number}
    %h2 商品詳細
    %p
      商品名：#{@book.title}
      %br
      料金：#{@book.price}
