.page-title{:style => "background-image:url('/images/books_on_desk2.jpg');"}
  .container
    .row
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
        %h1.hero-title 書籍一覧
.content-wrapper
  .container
    .row
      .col-sm-4.col-md-3
        %aside.sidebar.with-filter
          .sidebar-search-wrapper.bg-light-2
            .sidebar-search-header
              %h4 検索
            .sidebar-search-content
              = form_tag(search_index_path, method: :get) do
                .form-group
                  %select.select2-multi.form-control{"data-placeholder" => "カテゴリを選択", :name => "destination"}
                    %option{:value => ""} カテゴリを選択
                    %option{:value => "0"} HTML CSS
                    %option{:value => "ruby"} Ruby
                    %option{:value => "javascript"} JavaScript
                    %option{:value => "rails"} Ruby on Rails
                    %option{:value => "php"} PHP
                    %option{:value => "java"} Java
                    %option{:value => "php"} PHP
                .form-group
                  = text_field_tag :keyword, "",class:'form-control', placeholder: 'キーワード'
                = submit_tag "検索", class: "btn btn-primary btn-block"
      .col-sm-8.col-md-9
        .sorting-wrappper
          .sorting-header
            %p.sorting-lead 50件の検索結果が見つかりました。
        .package-list-item-wrapper.on-page-result-page.clearfix
          = render @books
        .pager-wrappper.clearfix
          .pager-innner
            .flex-row.flex-align-middle
              .flex-column.flex-sm-12
                50件中1から8件目を表示しています。
              .flex-column.flex-sm-12
                %nav.pager-right
                  %ul.pagination
                    %li
                      %a{"aria-label" => "Previous", :href => "#"}
                        %span{"aria-hidden" => "true"} «
                    %li.active
                      %a{:href => "#"} 1
                    %li
                      %a{:href => "#"} 2
                    %li
                      %a{:href => "#"} 3
                    %li
                      %span ...
                    %li
                      %a{:href => "#"} 11
                    %li
                      %a{:href => "#"} 12
                    %li
                      %a{:href => "#"} 13
                    %li
                      %a{"aria-label" => "Next", :href => "#"}
                        %span{"aria-hidden" => "true"} »
